*{
    margin: 0;
    padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
}

body{
    margin-bottom: 100px;
    height: 100%;  background-color: grey;
}

.parent-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.upper-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-bottom: 40px;
}

.line-1{
    font-size: 26px;
    font-weight: 600;
}

.line-2{
    font-style: italic;
    margin-top: 12px;
}

@media (max-width:700px) {
    .line-1{
        font-size: 1rem;
    }

    .line-2{
        
        font-size: 1rem;
        width: 400px;
        text-wrap: wrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.bottom-container{
    background-color: rgba(255, 255, 255, 0.833);
    width: 50%;
    height: 1200px;
   border-radius: 4px;
   padding: 40px;
}

.bottom-container p{
    margin-bottom: 4px;
}

.bottom-container div{
    margin-bottom: 26px;
}

.text-inputs{
    width: 90%;
    padding: 8px 30px;
    padding-left: 12px;
    border: none;
    outline: none;
    border-radius: 3px;
}

.text-inputs:focus{
    border: 2px solid lightgray;
}

select{
    width: 97%;
    padding: 8px;
    color: grey;
    border: none;
    border-radius: 4px;
    outline: none;
}

select:focus{
    border: 2px solid lightgray;
}

.recomendation .radio-holder{
   margin: 8px ;
}

.checkbox-container{
    display: block;
    
}

.comment{
    width: 90%;
    height: 50px;
    padding: 30px 10px ;
    border: none;
    border-radius: 4px;
    text-wrap: wrap;
    outline: none;
}

.comment:focus{
    border: 2px solid lightgray;
}

.improvements .checkbox-container{
    margin: 10px;
}

.improvements span{
    font-size: 12px;
}

.submit button{
   background-color: green;
   color: white;
   border: none;
   width: 94%;
   padding: 8px 30px;
   border-radius: 4px;
}

button:hover{
    cursor: pointer;
}

button:active{
    background-color: rgb(5, 155, 5);
}